body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  line-height: 2.5;
  letter-spacing: 1px;
  background-color: #fffef877;
}

code {
  font-family: 'Cairo', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
